<%- include('./partials/head') %>

  <main>
    <div class="container">
      <div class="card-container">
        <div class="left-page">
          <div class="page page-1">
            <h1><%- data.name %></h1>
            <p><%- data.prefix %> <%- data.surname %></p>
            <img src="/assets/img2.png" alt="photo of me, Lisa" width="150px">
          </div>

          <div class="page page-2">
            <h2>PAGE 2</h2>
          </div>
        </div>

        <section class="right-page">
          <div class="page page-3">
            <h1>PAGE 3</h1>
            <h2>SKILLS</h2>
            <p>i can do this B)</p>
            <button>more?</button>
          </div>
        </section>

      </div>
    </div>

  </main>

  <%- include('./partials/foot') %>