<%- include('./partials/head') %>

<main>
  <article>
    <header>
      <img src="/images/img.jpg" alt="foto van mij :)" width="200px">
      <h1><%= data.name %></h1>
      <p><%= data.prefix %> <%= data.surname %></p> 
    </header>


    <section class="bio tabcontent">
      <p><%= data.bio %></p>
    </section>

    <section class="contact tabcontent">
      <ul>
        <li><%= data.github_handle %></li>
        <li><%= data.website %></li>
        <li><%= data.email %></li>
        <li><%= data.linkedin %></li>
      </ul>
    </section>
  
  
  </article>
</main>

<%- include('./partials/foot') %>