<%- include('./partials/head') %>

  <main>
    <div class="container">
      <div class="card-container">

        <div class="shadow-box">
          <div class="card">
            <div class="left-page">
              <div class="page page-1">
                <h1><%- data.name %></h1>
                <p><%- data.prefix %> <%- data.surname %></p>
              </div>

              <div class="page page-2">
                <h2>ABOUT ME</h2>
                <ul>
                  <li><%- data.bio %></li>
                  <li><%- data.custom.leeftijd %></li>
                  <li><%- data.custom.plaats %></li>
                  <li><%- data.custom.werk %></li>
                  <li><%- data.email %></li>
                </ul>

                <img src="/assets/img2.png" alt="photo of me, Lisa" width="135px">

                <div class="buttons">
                  <a href="https://github.com/lisagjh"><i class='bx bxl-github' ></i></a>
                  <a href="www.linkedin.com/in/lisagjh"><i class='bx bxl-linkedin-square'></i></a>
                </div>
              </div>
            </div>

            <div class="page page-3">
              <h2>SKILLS</h2>
              <p><%- data.bio %></p>

              <!-- <button class="flip-btn">flip me <3 </button> -->
            </div>

          </div>
        </div>

        <!-- <div class="page page-4">
          <h3>find me <span>here</span>:</h3>
        </div> -->

      </div>
    </div>

  </main>

  <%- include('./partials/foot') %>