<%- include('./partials/head') %>

  <main>
    <div class="container">
      <div class="card-container">

        <div class="shadow-box">
          <div class="card">
            <div class="left-page">

              <section class="page page-1">
                <h1><%- data.name %></h1>
                <p><%- data.prefix %> <%- data.surname %></p>
              </section>

              <section class="page page-2">
                <h2>ABOUT ME</h2>
                <ul>
                  <li><%- data.bio %></li>
                  <li><%- data.custom.leeftijd %></li>
                  <li><%- data.custom.plaats %></li>
                  <li><%- data.custom.werk %></li>
                  <li><%- data.email %></li>
                  <li><%- data.custom.linkedin %></li>
                </ul>

                <img src="/assets/img2.png" alt="photo of me, Lisa" width="135">

                <div class="buttons">
                  <a href="https://github.com/lisagjh"><i class='bx bxl-github' ></i></a>
                  <a href="www.linkedin.com/in/lisagjh"><i class='bx bxl-linkedin-square'></i></a>
                </div>
              </section>
            </div>

            <section class="page page-3">
              <h2>SKILLS</h2>
              <p>Ik heb nu kennis over HTML & CSS, beginnend Javascripter en net aan het leren over servers enzo :)</p>
            </section>

          </div>
        </div>

      </div>
    </div>

  </main>

  <%- include('./partials/foot') %>